/* reset css */

:root {
  --maint-font: sans-serif;
  --font-size: 18px;
  --main-color: rgb(42, 172, 247);
  --second-color: #222;
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --color-whitesmoke: whitesmoke;
  --container-width: 1200px;
  --color-degradado: linear-gradient(
    109.6deg,
    rgb(156, 220, 241) 11.2%,
    rgb(42, 172, 247) 100.2%
  );
}

html {
  box-sizing: border-box;
  font-family: var(--maint-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--color-whitesmoke);
}

img {
  max-width: 100%;
  height: auto;
}

/* menu hamburguesa estilos */

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  background-image: var(--color-degradado);
  color: var(--second-color);
}

.icono__imagen {
  width: 3rem;
  margin-right: 1rem;
}

.section {
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  text-align: center;
}

.section__titulo {
  margin-bottom: 5rem;
}

.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--second-modal-color);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s opacity 0, 5s ease;


}
.panel.is-active {
  opacity: 1;
  visibility: visible;
}

.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--color-degradado);
}

.menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-whitesmoke);
  transition: all 0.3s ease;
}

.menu a:hover {
  font-weight: bold;
  background-color: var(--main-color);
}

/*---------------- section header------------------------ */

.social-links {
  margin-right: 1rem;
  color: black;
}

.social-links:hover {
  color: var(--color-whitesmoke)
}

/* -----------------section sobre mi ----------------- */

.card__2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted #222;
  border-radius: 1rem;
  width: 100%;
  margin: 2rem;
  padding: 1.25rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 500ms ease;
}

.card__2:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-1%);
}

.card__formacion__imagen{

  border-radius: 50%;
}

.card__2__texto-p {
  text-align: start;
  padding: 1rem;
}

/* ------------------seccion formacion-------------------------- */
.card__2 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.card__2__img {
  width: 15rem;
}

/* ---------------------section experiencia ----------------- */
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  width: 30%;
  margin: 2rem;
  padding: 1.25rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 500ms ease;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-1%);
}

.card img {
  width: 100%;
  height: 200px;
}


/* ------------------section contacto --------------------------*/

.contacto {
  display: flex;
  justify-content: center;
}

.contacto__text {
  background-image: linear-gradient(rgba(34, 34, 34, 0.1), rgba(34, 34, 34, 1)),
    url(./imagenes/dra1.jpg);

  background-repeat: no-repeat;
  background-size: contain;
  width: 38%;
  height: 90vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  font-size: 2rem;
  color: var(--color-whitesmoke)
}


a {
  color: var(--color-whitesmoke);
  text-decoration: underline;
}



/* section footer */

#footer {
  padding: 0.5rem;
  color: var(--second-color);
  text-align: center;
}


#footer .credits a {
  color: var(--main-color);
  font-weight: bold;
}
